<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AccessLayerMdS.AVN.NSM" version="1.0.1" targetFramework="net471" />
  <package id="AccessLayerMdS.AVN.NSR" version="1.0.1" targetFramework="net471" />
  <package id="AccessLayerMdS.AVN.SM" version="1.0.1" targetFramework="net471" />
  <package id="AccessLayerMdS.AVN.SR" version="1.0.1" targetFramework="net471" />
  <package id="AccessLayerMdS.Core" version="1.0.1" targetFramework="net471" />
  <package id="AccessLayerMdS.DIR" version="1.0.1" targetFramework="net471" />
  <package id="AccessLayerMdS.DISPOVIG" version="1.0.1" targetFramework="net471" />
  <package id="AccessLayerMdS.DPM" version="1.0.1" targetFramework="net471" />
  <package id="AccessLayerMdS.EMURPS" version="1.0.1" targetFramework="net471" />
  <package id="AccessLayerMdS.Models" version="1.0.0" targetFramework="net471" />
  <package id="AccessLayerMdS.Monitoraggio" version="1.0.1" targetFramework="net471" />
  <package id="AccessLayerMdS.SALM.PNR" version="1.0.1" targetFramework="net471" />
  <package id="AccessLayerMdS.SALM.PSD" version="1.0.1" targetFramework="net471" />
  <package id="AccessLayerMdS.SALM.VIG" version="1.0.1" targetFramework="net471" />
  <package id="AccessLayerMdS.SISM.RES" version="1.0.1" targetFramework="net471" />
  <package id="AccessLayerMdS.SISM.SEMIRES" version="1.0.1" targetFramework="net471" />
  <package id="AccessLayerMdS.SISM.TER" version="1.0.1" targetFramework="net471" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.0.0" targetFramework="net471" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net471" />
  <package id="System.Memory" version="4.5.3" targetFramework="net471" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net471" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.6.0" targetFramework="net471" />
  <package id="System.Text.Encodings.Web" version="4.6.0" targetFramework="net471" />
  <package id="System.Text.Json" version="4.6.0" targetFramework="net471" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.2" targetFramework="net471" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net471" />
</packages>